@font-face {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: Rubik,Roboto,Arial,sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}
.main-header {
  background-color: #FFE17F;
  color: #000000;
}
.main-navigation_link,
.user-navigation_link,
.site-navigation_link {
  text-decoration: none;
  color: #000000;
}
.user-navigation{
  list-style-type: none;
  font-size: 16px;
  line-height: 19px;
}
.site-navigation {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  list-style-type: none;
}
.description-name {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.description-button_link,
.button-first,
.button-second {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.value-1,
.value-2 {
  font-size: 36px;
  line-height: 30px;
}
.feature-1,
.feature-2 {
  font-size: 16px;
}
.popular-items {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  list-style-type: none;
}
.popular-item_link,
.buttons-service_link {
  text-decoration: none;
  color: #000000;
}
.buttons-service {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style-type: none;
}
.delivery-title,
.about-us-title,
.subscribe-title,
.page-title {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.about-us_info,
.delivery_info,
.subscribe_info {
  color: #444444;
}
.special-delivery_info,
.show-more {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.transport-companies {
  list-style-type: none;
}
.transport-company_name {
  font-family: Rubik,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.contacts_name {
  font-family: Rubik,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}
.contacts_tel {
  text-decoration-line: underline;
  color: #444444;
}
footer {
  background: #444444;
  color: #FFFFFF;
}
.address {
  line-height: 19px;
}
.site-navigation-footer {
  list-style-type: none;
}
.site-navigation-footer_link {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.phone_number {
  text-decoration: none;
  color: #FFFFFF;
}
.social-buttons,
.breadcrumbs,
.pagination-list {
  list-style-type: none;
}
.breadcrumb {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
}
.breadcrumb_link {
  text-decoration: none;
}
.filters_title,
.sorting_title {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.price,
.colors,
.bluetooth-name {
  font-family: Rubik,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.button-show {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.catalog-item_name {
  font-family: Rubik,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}
.catalog-item_price {
  font-family: Rubik,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}
.pagination-button_link {
  font-family: Raleway,Proxima Nova,Avenir,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.pagination-item {
  text-decoration: none;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
